.testingPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.testingPage > * {
  grid-column: 4;
}
.landingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/excell_website_final/images/contactUsBackground.png") top 50% left 50% / cover repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .landingPage {
    height: 1200px;
  }
}
.container2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 0;
  right: auto;
  bottom: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container2 {
    top: auto;
    left: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  background: #ffffff;
  align-content: center;
  color: var(--token-PC6O9-hPHdvT);
  left: 0px;
  top: 0px;
  z-index: 999;
  position: absolute;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    align-content: flex-start;
    justify-content: flex-end;
    line-height: 0;
    color: var(--token-PC6O9-hPHdvT);
    padding-bottom: 24px;
    padding-top: 16px;
    margin: 0px;
  }
}
.img__jYzXo {
  object-fit: cover;
  width: 32px;
}
.img__jYzXo > picture > img {
  object-fit: cover;
}
.img__bVTex {
  object-fit: cover;
  width: 32px;
}
.img__bVTex > picture > img {
  object-fit: cover;
}
.link__zrXkF {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--token-PC6O9-hPHdvT);
  margin-right: 0px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.testingPage .link__zrXkF:hover {
  color: var(--token-bSbL7gS-JLE7);
  transform: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.solution3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.testingPage .solution3:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link___5DmCq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.testingPage .link___5DmCq:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.logo4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo4 {
    display: none;
  }
}
.img__xIgq {
  object-fit: cover;
  height: 64px;
  max-width: 298px;
  width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.img__xIgq > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xIgq {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xIgq > picture > img {
    object-fit: contain;
  }
}
.link__t4Gnl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.testingPage .link__t4Gnl:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link___4Oy8K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.testingPage .link___4Oy8K:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link___7Vz3A {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7Vz3A {
    padding-bottom: 24px;
  }
}
.testingPage .link___7Vz3A:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.heading {
  display: flex;
  width: 100%;
  height: 39.73%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.heading > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xv9Fx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xv9Fx {
    padding-right: 8px;
  }
}
.freeBox__wSDh5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wSDh5 {
    padding-left: 8px;
  }
}
.img__sbYlU {
  object-fit: contain;
  max-width: 100%;
  width: 16px;
  height: 317px;
  flex-shrink: 0;
}
.img__sbYlU > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sbYlU {
    align-self: flex-end;
    height: 223px;
  }
}
.h1__qayPl {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #235936;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  align-self: center;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__qayPl {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 320px;
  flex-direction: column;
  left: auto;
  top: auto;
  z-index: 0;
  background: var(--token-NP8OXYMDqRsl);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 80px;
  margin: 0px;
}
.container > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container {
    height: 120px;
    left: auto;
    top: auto;
    position: relative;
    flex-grow: 0;
    justify-self: auto;
    flex-shrink: 0;
    z-index: 1;
    width: 100%;
    min-width: 0;
    padding: 48px 24px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 1280px;
  height: auto;
  max-width: 100%;
  box-shadow: 8px 8px 56px 0px #00000014;
  left: auto;
  top: -150%;
  z-index: 999;
  background: #ffffff;
  margin-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 24px;
  padding: 48px;
}
.card > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.card > :global(.__wab_flex-container) > *,
.card > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card > :global(.__wab_flex-container) > picture > img,
.card > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .card {
    position: absolute;
    left: auto;
    top: -300%;
    margin-top: calc(0px + 16px) !important;
  }
}
.freeBox___3ZLnq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3ZLnq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___3ZLnq > :global(.__wab_flex-container) > *,
.freeBox___3ZLnq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3ZLnq > :global(.__wab_flex-container) > picture > img,
.freeBox___3ZLnq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__cfai6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  min-width: 0;
}
.accordionItem__h2Ph7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__byRwd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___8KBk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem___4T6W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ilEwN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qq3V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kqXil {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px;
}
.freeBox__kqXil > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kqXil > :global(.__wab_flex-container) > *,
.freeBox__kqXil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kqXil > :global(.__wab_flex-container) > picture > img,
.freeBox__kqXil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__gMvta {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__gMvta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gMvta > :global(.__wab_flex-container) > *,
.freeBox__gMvta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gMvta > :global(.__wab_flex-container) > picture > img,
.freeBox__gMvta
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1__gk7WR {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 33.9px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  font-weight: 600;
  min-width: 0;
}
.h1__kT3Ty {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.freeBox__npRv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.link__yEHpG {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #235936;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
}
.link__yEHpG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yEHpG > :global(.__wab_flex-container) > *,
.link__yEHpG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yEHpG > :global(.__wab_flex-container) > picture > img,
.link__yEHpG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yEHpG {
    width: 248px;
  }
}
.testingPage .link__yEHpG:hover {
  background: #1e472c;
}
.text__dCydx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 19.2px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    margin-top: 1245px;
    height: 1334px;
  }
}
.freeBox___03Rrn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  padding: 0px;
}
.section5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 24px;
}
.section5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.brandLogo3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brandLogo3 {
    align-items: center;
    justify-content: center;
  }
}
.img__eUjiJ {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  width: 240px;
}
.img__eUjiJ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eUjiJ {
    max-width: 100%;
  }
}
.section6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.section6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.section6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2EuSj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 24px;
}
.freeBox__ynlQg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px;
}
.freeBox__ynlQg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ynlQg > :global(.__wab_flex-container) > *,
.freeBox__ynlQg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ynlQg > :global(.__wab_flex-container) > picture > img,
.freeBox__ynlQg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-NP8OXYMDqRsl);
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
  }
}
.text__n53I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 24px;
  margin-top: calc(0px + 24px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n53I {
    text-align: justify;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__yOyE6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-m67hX7GK55pB);
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.column__ww8H2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.whereToFindUs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
.freeBox___5PaNh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__aBip7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__aBip7 {
    text-align: center;
  }
}
.freeBox__yPd6T {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yPd6T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__yPd6T > :global(.__wab_flex-container) > *,
.freeBox__yPd6T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yPd6T > :global(.__wab_flex-container) > picture > img,
.freeBox__yPd6T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yPd6T > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__pJj3C {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.text___5Ze5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-size: 14px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.testingPage .text___5Ze5:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.connectWithUs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .connectWithUs4 {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__vzT7A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__t5IOg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__t5IOg {
    text-align: center;
  }
}
.freeBox___1PBmk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___1PBmk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___1PBmk > :global(.__wab_flex-container) > *,
.freeBox___1PBmk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1PBmk > :global(.__wab_flex-container) > picture > img,
.freeBox___1PBmk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1PBmk > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__hOxd3 {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link___2AeM {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.testingPage .link___2AeM:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__yUwe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yUwe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__yUwe > :global(.__wab_flex-container) > *,
.freeBox__yUwe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yUwe > :global(.__wab_flex-container) > picture > img,
.freeBox__yUwe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yUwe > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__dRqT {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__aWonp {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.testingPage .link__aWonp:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__onazi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__onazi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__onazi > :global(.__wab_flex-container) > *,
.freeBox__onazi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__onazi > :global(.__wab_flex-container) > picture > img,
.freeBox__onazi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__onazi > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__m0Sfm {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link___2ARon {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.testingPage .link___2ARon:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.getSolar3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__yk9Y1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px;
}
.freeBox__yk9Y1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yk9Y1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yk9Y1 > :global(.__wab_flex-container) > *,
  .freeBox__yk9Y1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yk9Y1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yk9Y1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 0px;
  }
}
.link__m8Rkf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iPL4GNYG7HPu);
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.link__m8Rkf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__m8Rkf > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__m8Rkf > :global(.__wab_flex-container) > *,
  .link__m8Rkf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__m8Rkf > :global(.__wab_flex-container) > picture > img,
  .link__m8Rkf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.h5___4On1O {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5___4On1O {
    width: auto;
  }
}
.testingPage .h5___4On1O:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.svg__fu5Db {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  color: var(--token-bSbL7gS-JLE7);
}
