.solutionPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.solutionPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .solutionPage > * {
    grid-column: 4;
  }
}
.landingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__vorpu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  background:
    radial-gradient(
        ellipse 60% 50% at 48% 84%,
        #115478 0%,
        #5a95cf 20%,
        var(--token-_wGt-HjW2I3x) 39%,
        #afd0fb 56%,
        var(--token-NP8OXYMDqRsl) 100%
      )
      0% 0% / 100% 100% repeat,
    var(--token-NP8OXYMDqRsl);
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vorpu {
    top: auto;
    left: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}
.heading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.heading > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .heading > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___08PWv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  row-gap: 48px;
  min-width: 0;
  padding: 48px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___08PWv {
    padding: 24px;
  }
}
.freeBox__zpHIt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zpHIt {
    padding-left: 8px;
  }
}
.h1__dRqWu {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-bSbL7gS-JLE7);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  align-self: center;
  min-width: 0;
  padding: 7px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__dRqWu {
    font-size: 40px;
    text-align: center;
    margin: 0px;
  }
}
.freeBox__wp6Jk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  min-width: 0;
  padding: 0px;
}
.text__yc3ZO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-PC6O9-hPHdvT);
  text-align: center;
  font-weight: 600;
  padding-right: 64px;
  padding-left: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yc3ZO {
    font-size: 16px;
  }
}
.image {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 460px;
  max-width: 100%;
  background: url("/plasmic/excell_website_final/images/selectiveFocusYoungEngineerManStandingHandshakeWithHisColleagueSmileTogetherSolarPanelBackgroundCopySpaceJpg.jpg");
  column-gap: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
  padding: 48px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 48px;
    padding: 24px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  background: #ffffff;
  align-content: center;
  color: var(--token-PC6O9-hPHdvT);
  left: 0px;
  top: 0px;
  z-index: 999;
  position: absolute;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    align-content: flex-start;
    justify-content: flex-end;
    line-height: 0;
    color: var(--token-PC6O9-hPHdvT);
    padding-bottom: 24px;
    padding-top: 16px;
    margin: 0px;
  }
}
.logo7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
  padding: 0px;
}
.img__jpO3 {
  object-fit: cover;
  height: 40px;
  max-width: 298px;
  width: 100%;
  min-width: 0;
  display: none;
}
.img__jpO3 > picture > img {
  object-fit: cover;
}
.img___3VRu5 {
  object-fit: cover;
  width: 32px;
}
.img___3VRu5 > picture > img {
  object-fit: cover;
}
.img___6N7Vu {
  object-fit: cover;
  width: 32px;
}
.img___6N7Vu > picture > img {
  object-fit: cover;
}
.link__fg7JR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--token-PC6O9-hPHdvT);
  margin-right: 0px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.solutionPage .link__fg7JR:hover {
  color: var(--token-bSbL7gS-JLE7);
  transform: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.solution4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.solutionPage .solution4:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link__ivMKs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.solutionPage .link__ivMKs:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.logo8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo8 {
    display: none;
  }
}
.img__r2OLa {
  object-fit: cover;
  height: 64px;
  max-width: 298px;
  width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.img__r2OLa > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__r2OLa {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__r2OLa > picture > img {
    object-fit: contain;
  }
}
.link__bvxJa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.solutionPage .link__bvxJa:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link___8Y1Pb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.solutionPage .link___8Y1Pb:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.link__x12KV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  color: var(--token-PC6O9-hPHdvT);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-family: "Open Sans", sans-serif;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__x12KV {
    padding-bottom: 24px;
  }
}
.solutionPage .link__x12KV:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.value {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: #ffffff;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 24px;
  row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value {
    height: 1113px;
    padding: 24px;
  }
}
.columns__ogcsC {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 48px;
  min-width: 0;
  --plsmc-rc-col-gap: 48px;
  padding: 48px 32px;
}
.columns__ogcsC > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ogcsC > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ogcsC {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    min-width: 0;
    min-height: 0;
    --plsmc-rc-col-gap: 48px;
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ogcsC > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eqYg4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__otHfO {
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__otHfO > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__otHfO {
    height: 100%;
    min-height: 0;
  }
}
.column__ajwm2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  min-width: 0;
  padding: 0px;
}
.h1__f5F7V {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  margin-top: 0px;
  min-width: 0;
}
.text__rRSr8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-PC6O9-hPHdvT);
  font-size: 18px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rRSr8 {
    padding-top: 0px;
  }
}
.link__vn3OU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-bSbL7gS-JLE7);
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  column-gap: 8px;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
  border: 2px solid var(--token-bSbL7gS-JLE7);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vn3OU {
    width: 314px;
  }
}
.solutionPage .link__vn3OU:hover {
  background: var(--token-bSbL7gS-JLE7);
  color: var(--token-zy6xhYnWF8Y7);
  border-color: var(--token-NP8OXYMDqRsl);
}
.text__wsCcx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.svg__gyWBf {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 26px;
  align-self: center;
  flex-shrink: 0;
}
.offers {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: var(--token-NP8OXYMDqRsl);
  flex-wrap: wrap;
  align-content: center;
  column-gap: 24px;
  row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 48px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offers {
    height: auto;
    padding: 24px;
  }
}
.columns__uqdN2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 48px;
  min-width: 0;
  --plsmc-rc-col-gap: 48px;
  padding: 48px 0px;
}
.columns__uqdN2 > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uqdN2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    min-width: 0;
    --plsmc-rc-col-gap: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uqdN2 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mn0O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 48px;
  min-width: 0;
  padding: 0px;
}
.freeBox__zyAal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h1__ehkHa {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: #235936;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__ehkHa {
    text-align: center;
  }
}
.columns__nY8X0 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 24px;
  min-width: 0;
  --plsmc-rc-col-gap: 24px;
  padding: 0px;
}
.columns__nY8X0 > :nth-child(6n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__nY8X0 > :nth-child(6n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__nY8X0 > :nth-child(6n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__nY8X0 > :nth-child(6n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__nY8X0 > :nth-child(6n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__nY8X0 > :nth-child(6n + 6) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nY8X0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    min-width: 0;
    --plsmc-rc-col-gap: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nY8X0 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.offer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 48px;
  min-width: 0;
  border-radius: 8px;
  padding: 24px 16px;
}
.svg__klfU0 {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.h1___6FrC {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.offer2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 48px;
  min-width: 0;
  border-radius: 8px;
  padding: 24px 16px;
}
.svg__tpIwo {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.h1___4DuR {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.offer3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 48px;
  min-width: 0;
  border-radius: 8px;
  padding: 24px 16px;
}
.svg__mngzq {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.h1__xeshY {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.offer4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 48px;
  min-width: 0;
  border-radius: 8px;
  padding: 24px 16px;
}
.svg__dhna3 {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.h1__cTxen {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.offer5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 48px;
  min-width: 0;
  border-radius: 8px;
  padding: 24px 16px;
}
.svg__zt0Ts {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.h1__qeyEr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.offer6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 48px;
  min-width: 0;
  border-radius: 8px;
  padding: 24px 16px;
}
.svg__gfn4P {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.h1__uaHop {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  min-width: 0;
}
.financingOptions {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: #ffffff;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 24px;
  row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .financingOptions {
    height: 1113px;
    padding: 24px;
  }
}
.columns__hZt79 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 48px;
  min-width: 0;
  --plsmc-rc-col-gap: 48px;
  padding: 48px 32px;
}
.columns__hZt79 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__hZt79 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hZt79 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    min-width: 0;
    min-height: 0;
    --plsmc-rc-col-gap: 48px;
    padding: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hZt79 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jziQp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  min-width: 0;
  padding: 0px;
}
.h1__ht7J2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
  color: var(--token-bSbL7gS-JLE7);
  margin-top: 0px;
  min-width: 0;
}
.text___6JxvY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-PC6O9-hPHdvT);
  font-size: 18px;
  text-align: justify;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6JxvY {
    padding-top: 0px;
  }
}
.link__fNeex {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #235936;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  column-gap: 8px;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 18px 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fNeex {
    width: 248px;
  }
}
.solutionPage .link__fNeex:hover {
  background: #1e472c;
}
.text___8JKh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.column__iyRgw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__xjc6E {
  object-fit: cover;
  max-width: 100%;
  border-radius: 24px;
}
.img__xjc6E > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xjc6E {
    height: 100%;
    min-height: 0;
  }
}
.options {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: var(--token-NP8OXYMDqRsl);
  flex-wrap: wrap;
  align-content: center;
  column-gap: 24px;
  row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 48px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .options {
    height: auto;
    padding: 24px;
  }
}
.columns__an29 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 48px;
  min-width: 0;
  --plsmc-rc-col-gap: 48px;
  padding: 0px 80px;
}
.columns__an29 > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__an29 > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__an29 > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__an29 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 48px;
    padding-right: 48px;
    row-gap: 48px;
    min-width: 0;
    --plsmc-rc-col-gap: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__an29 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zj7B2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 24px;
  min-width: 0;
  border-radius: 8px;
  padding: 48px 32px;
}
.freeBox___67Bk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox__imiLz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-k2p-JGgEFMjq);
  column-gap: 8px;
  border-radius: 24px;
  padding: 8px 24px;
  border: 2px solid var(--token-bSbL7gS-JLE7);
}
.svg__xzp8B {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__t8CLf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-bSbL7gS-JLE7);
  background: none;
  min-width: 0;
}
.h1__etaI {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  min-width: 0;
}
.freeBox__j3CO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox__mI8Ap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg___3HeT {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__av1Gn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  min-width: 0;
}
.freeBox___6YdfU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg__yad8Q {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__svxXv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  min-width: 0;
}
.column__pc8Uj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 24px;
  min-width: 0;
  border-radius: 8px;
  padding: 48px 32px;
}
.freeBox___13L6B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox___8TYOb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-k2p-JGgEFMjq);
  column-gap: 8px;
  border-radius: 24px;
  padding: 8px 24px;
  border: 2px solid var(--token-bSbL7gS-JLE7);
}
.svg__pEyqC {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__je0Pl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-bSbL7gS-JLE7);
  background: none;
  min-width: 0;
}
.h1___0PrK {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  min-width: 0;
}
.freeBox__khgfs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox__joeGn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg__mGPhe {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__ccxCj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__oNwkG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg__ngXmN {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__i6Bwd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  min-width: 0;
}
.column___8FQrE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: 8px 8px 56px 0px #00000014;
  row-gap: 24px;
  min-width: 0;
  border-radius: 8px;
  padding: 48px 32px;
}
.freeBox__c8LHz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox___8ShRx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-k2p-JGgEFMjq);
  column-gap: 8px;
  border-radius: 24px;
  padding: 8px 24px;
  border: 2px solid var(--token-bSbL7gS-JLE7);
}
.svg___0F4Ev {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__w7K4T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-bSbL7gS-JLE7);
  background: none;
  min-width: 0;
}
.h1__hdXif {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  min-width: 0;
}
.freeBox__tobiW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox___1KmB7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg__m7X4M {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__pLwe3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  min-width: 0;
}
.freeBox__sFw00 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg__lg42I {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text___8Su6F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PC6O9-hPHdvT);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  min-width: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.freeBox__bJatN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  padding: 0px;
}
.section5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 24px;
}
.section5 > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.brandLogo3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brandLogo3 {
    align-items: center;
    justify-content: center;
  }
}
.img__lrhpg {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  width: 240px;
}
.img__lrhpg > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__lrhpg {
    max-width: 100%;
  }
}
.section6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.section6 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.section6 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__j7VxV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 24px;
}
.freeBox___19Dd2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  min-width: 0;
  padding: 24px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-NP8OXYMDqRsl);
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
  }
}
.text__bgb00 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  padding-bottom: 24px;
  min-width: 0;
  margin: 0px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bgb00 {
    text-align: justify;
  }
}
.text__tmOE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-m67hX7GK55pB);
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.column__xbfVt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.whereToFindUs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
.freeBox__rotc9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__h5ANy {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__h5ANy {
    text-align: center;
  }
}
.freeBox__fdqeC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fdqeC {
    justify-content: center;
    align-items: center;
  }
}
.svg__aVuHz {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.text__mHTqA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-size: 14px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
.solutionPage .text__mHTqA:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.connectWithUs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .connectWithUs4 {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__bXgXo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__vb2GM {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__vb2GM {
    text-align: center;
  }
}
.freeBox__tjWXz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tjWXz {
    justify-content: center;
    align-items: center;
  }
}
.svg__mo33A {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__ylqAv {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.solutionPage .link__ylqAv:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__yKqK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yKqK {
    justify-content: center;
    align-items: center;
  }
}
.svg__uux32 {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__tIJgC {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.solutionPage .link__tIJgC:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.freeBox__vl5Tj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vl5Tj {
    justify-content: center;
    align-items: center;
  }
}
.svg__m8DX {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link___7Mt4W {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
}
.solutionPage .link___7Mt4W:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.getSolar3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__qNTl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qNTl {
    column-gap: 24px;
    row-gap: 0px;
  }
}
.link__pA12D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iPL4GNYG7HPu);
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__pA12D {
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    row-gap: 0px;
  }
}
.h5__l6V9C {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__l6V9C {
    width: auto;
  }
}
.solutionPage .h5__l6V9C:hover {
  color: var(--token-bSbL7gS-JLE7);
}
.svg__itzNm {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  color: var(--token-bSbL7gS-JLE7);
}
