.yearDivider {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: 24px;
  padding: 8px 8px 8px 0px;
}
.yearHeading {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-bSbL7gS-JLE7);
  font-family: "Open Sans", sans-serif;
}
.divider {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-FTZbvhDRvtrT);
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .divider {
    color: var(--token-sDm69ksG4k34);
  }
}
