.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox___87K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  padding: 0px;
}
.section5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 24px;
}
.section5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.brandLogo3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .brandLogo3 {
    align-items: center;
    justify-content: center;
  }
}
.img {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  width: 240px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    max-width: 100%;
  }
}
.section6 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2-jW-zF4dnfE);
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.section6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.section6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__p2Wa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 24px;
}
.freeBox___1Wt1J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px;
}
.freeBox___1Wt1J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___1Wt1J > :global(.__wab_flex-container) > *,
.freeBox___1Wt1J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Wt1J > :global(.__wab_flex-container) > picture > img,
.freeBox___1Wt1J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--token-NP8OXYMDqRsl);
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4 {
    text-align: center;
  }
}
.text__yoRjn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin-bottom: 0px;
  padding-bottom: 24px;
  margin-top: calc(0px + 24px) !important;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yoRjn {
    text-align: justify;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__aui6L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-m67hX7GK55pB);
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column__oY84C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.whereToFindUs3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
.freeBox__kaCtx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5___8Eixi {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5___8Eixi {
    text-align: center;
  }
}
.freeBox__bAYqM {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bAYqM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__bAYqM > :global(.__wab_flex-container) > *,
.freeBox__bAYqM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bAYqM > :global(.__wab_flex-container) > picture > img,
.freeBox__bAYqM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bAYqM > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__wdTkj {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.text__e8FMh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d6d9ef;
  font-size: 14px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.connectWithUs4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 24px;
  border-bottom: 1px solid var(--token-m67hX7GK55pB);
}
@media (min-width: 0px) and (max-width: 768px) {
  .connectWithUs4 {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__tcrtD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h5__sBfkV {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__sBfkV {
    text-align: center;
  }
}
.freeBox__hqkK {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hqkK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__hqkK > :global(.__wab_flex-container) > *,
.freeBox__hqkK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hqkK > :global(.__wab_flex-container) > picture > img,
.freeBox__hqkK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hqkK > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__sen0 {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__ytun1 {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__smfPk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__smfPk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__smfPk > :global(.__wab_flex-container) > *,
.freeBox__smfPk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__smfPk > :global(.__wab_flex-container) > picture > img,
.freeBox__smfPk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__smfPk > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__i5W9A {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__ghV4 {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___6S0TD {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___6S0TD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___6S0TD > :global(.__wab_flex-container) > *,
.freeBox___6S0TD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6S0TD > :global(.__wab_flex-container) > picture > img,
.freeBox___6S0TD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6S0TD > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg___6P4Xg {
  object-fit: cover;
  max-width: 100%;
  color: #3e8b56;
  height: 24px;
}
.link__e7C55 {
  color: #d6d9ef;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.getSolar3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__xBqs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 24px;
}
.freeBox__xBqs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xBqs > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xBqs > :global(.__wab_flex-container) > *,
  .freeBox__xBqs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xBqs > :global(.__wab_flex-container) > picture > img,
  .freeBox__xBqs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 0px;
  }
}
.link__zh4R5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-iPL4GNYG7HPu);
  font-family: "Open Sans", sans-serif;
  min-width: 0;
  padding: 8px;
  border-width: 1px;
}
.link__zh4R5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zh4R5 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zh4R5 > :global(.__wab_flex-container) > *,
  .link__zh4R5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__zh4R5 > :global(.__wab_flex-container) > picture > img,
  .link__zh4R5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.h5__cL8KZ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--token-NP8OXYMDqRsl);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h5__cL8KZ {
    width: auto;
  }
}
.svg__fwgMt {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  color: var(--token-bSbL7gS-JLE7);
}
